.separator
	margin 45px 0
	display flex
	justify-content center

	&__element
		size(7px)
		border-radius 50%
		background-color tomato
		position relative
		z-index 10

		&::before
			content ""
			position absolute
			top 3px
			left 22px
			width 80px
			height 1px
			background-color #fff
			z-index 10

		&::after
			content ""
			position absolute
			top 3px
			left -95px
			width 80px
			height 1px
			background-color #fff
			z-index 10
