mixin header-menu()
	ul.header-menu
		li.header-menu__item Home
		li.header-menu__item About us
		li.header-menu__item Portfolio
		li.header-menu__item Pricing
		li.header-menu__item Team
		li.header-menu__item Blog
		li.header-menu__item Contact
