@font-face
	font-family OpenSansRegular
	src url('../static/assets/fonts/OpenSans/OpenSans-Regular.ttf')
	font-style normal
	font-weight 400

@font-face
	font-family OpenSansBold
	src url('../static/assets/fonts/OpenSans/OpenSans-Bold.ttf')
	font-style normal
	font-weight 400

@font-face
	font-family SourceSansProRegular
	src url('../static/assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf')
	font-style normal
	font-weight 400
